@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
  @apply bg-gray-200 dark:bg-gray-800;
  @apply text-gray-900 dark:text-gray-200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.flipped {
  transform: rotateY(180deg);
}

.walking-container {
  position: absolute;
  bottom: 0;
  display: none;
}

.walking-container,
.walking-zoidberg {
  height: 210px;
  width: 210px;
}

.walking-container.animate {
  display: block;
}
.animate .walking-zoidberg {
  animation: walkAnimation;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes walkAnimation {
  0% {
    left: 0;
    transform: translateX(0);
  }
  100% {
    right: 0;
    transform: translateX(100%);
  }
}
